header .al-header{position: relative;
    display: flex
    ;justify-content: center;
    margin: 0 ;}

    header .al-header a{position: relative;
        ;font-size: 25px;
        margin: 0 50px;
        text-decoration: none;
        color: black;
        transition: 1s;
    }
   
    .al-header{position: relative;}
    header{position: relative;;
        background: #fcecd7a8
        ;top: 20px;
    }

    header .al-header a{
        margin: 0 50px}
        
        .As4{top: 6px;}
    
        .hi{top: 9px;justify-content: center;display: flex;font-size:20px;}

body{background-image: url(b5.jpg);}



.wörter2{display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}
.wort4{color: white;position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 7px
;-webkit-text-stroke: 1px black
;font-style: oblique;
top: 40px;z-index: 8;
}

.wort5{color: white;position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 7px
;-webkit-text-stroke: 1px black;
font-style: oblique;opacity: 70%;
top: -20px;
}



.wort6{color: white;position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 7px;
-webkit-text-stroke: 1px black;
font-style: oblique;;opacity: 50%;top: -80px;
}

.wörter2 h1{animation: wörterzwei 1s ease-in;font-size: 25px;top: }

@keyframes wörterzwei {
    from{transform: translateY(-60px);}
    to{transform: translateY(0);}
}













@keyframes catabilder{from{transform: translateY(20px);}
to{transform: translateY(0);}
}
 





.cat-lines{position: relative;bottom: -90px;}
.cat-lines div img{border-radius: 20px;animation: catabilder 1s 1 ease-in both;transition:1s;}

.cat-line-1{display:flex;justify-content:space-evenly ;position: relative;}
.cat-line-2{display:flex;justify-content:space-evenly ;position: relative;}
.cat-line-3{display:flex;justify-content:space-evenly ;position: relative;}




.cat-line-1 img{height: 250px;margin-bottom: 100px;width: 370px;box-shadow: 2px 2px 30px black;}
.cat-line-2 img{height: 250px;margin-bottom: 100px;width: 370px;box-shadow: 2px 2px 30px black;}
.cat-line-3 img{height: 250px;margin-bottom: 100px;width: 370px;box-shadow: 2px 2px 30px black;}







        @media (max-width:1730px){.cata-img img{height: 280px;
            width: 360px;
            ;margin-top: 10px;
            overflow: hidden
            ;top: -20px;margin-top: 20px;}
            .cat-lines div img{position: relative;top: 30px;height: 170px;width: 270px;}}






@media (max-width:1600px){.cata-img img{height: 250px;
    width: 330px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}}







@media (max-width:1400px){.cata-img img{height: 230px;
    width: 310px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}
    .cat-lines div img{position: relative;top: 30px;height: 130px;width: 210px;}}






@media (max-width:1350px){.cata-img img{height: 230px;
    width: 310px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}
    .cat-lines div img{position: relative;top: 30px;height: 130px;width: 210px;}}






@media (max-width:1300px){.cata-img img{height: 200px;
    width: 280px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}
.cat-lines div img{position: relative;top: 30px;height: 130px;width: 210px;}}







@media (max-width:1250px){.cata-img img{height: 180px;
    width: 260px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}
    .cat-lines div img{position: relative;top: 30px;height: 130px;width: 210px;}}






@media (max-width:1150px){.cata-img img{height: 150px;
    width: 230px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}
    .cat-lines div img{position: relative;top: 30px;height: 130px;width: 210px;}}






@media (max-width:1020px){.cata-img img{height: 120px;
    width: 200px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: 10px;margin-top: 20px;}
  
    .cat-lines div img{position: relative;top: 30px;height: 130px;width: 210px;}}
   






@media (max-width:900px){.cata-img img{height: 320px;
    width: 420px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}

    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cat-lines div img{position: relative;left: 38%;top: 30px;}
    .cat-line-1{flex-direction:column}
    .cat-line-1 img{height: 180px;width: 300px;}
    .cat-line-2{flex-direction:column;}
    .cat-line-2 img{height: 180px;width: 300px;}
    .cat-line-3{flex-direction:column;}
    .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:895px){.cata-img img{height: 300px;
    width: 440px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}header .al-header a{
        margin: 0 26px;}

    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cat-lines div img{position: relative;left: 37%;top: 30px;}
    .cat-line-1{flex-direction:column}
    .cat-line-1 img{height: 180px;width: 300px;}
    .cat-line-2{flex-direction:column;}
    .cat-line-2 img{height: 180px;width: 300px;}
    .cat-line-3{flex-direction:column;}
    .cat-line-3 img{height: 180px;width: 300px}}






@media (max-width:765px){.cata-img img{height: 280px;
    width: 400px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}header .al-header a{
        margin: 0 20px;}

    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cat-lines div img{position: relative;left: 30%;top: 30px;}
    .cat-line-1{flex-direction:column}
    .cat-line-1 img{height: 180px;width: 300px;}
    .cat-line-2{flex-direction:column;}
    .cat-line-2 img{height: 180px;width: 300px;}
    .cat-line-3{flex-direction:column;}
    .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:700px){.cata-img img{height: 240px;
    width: 360px;
    ;margin-top: 10px;
    overflow: hidden
    ;top: -20px;margin-top: 20px;}header .al-header a{
        margin: 0 19px;}

    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cata-img{flex-direction: column;align-items: center;}
    .cat-lines div img{position: relative;left: 35%;top: 30px;}
    .cat-line-1{flex-direction:column}
    .cat-line-1 img{height: 180px;width: 300px;}
    .cat-line-2{flex-direction:column;}
    .cat-line-2 img{height: 180px;width: 300px;}
    .cat-line-3{flex-direction:column;}
    .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:600px){header .al-header a{
    margin: 0 16px;}.cata-img img{height: 230px;
        width: 350px;
        ;margin-top: 10px;
        overflow: hidden
        ;top: -20px;margin-top: 20px;}

        .cata-img{flex-direction: column;align-items: center;}
        .cata-img{flex-direction: column;align-items: center;}
        .cat-lines div img{position: relative;left: 30%;top: 30px;}
        .cat-line-1{flex-direction:column}
        .cat-line-1 img{height: 180px;width: 300px;}
        .cat-line-2{flex-direction:column;}
        .cat-line-2 img{height: 180px;width: 300px;}
        .cat-line-3{flex-direction:column;}
        .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:520px){header .al-header a{
    margin: 0 13px;font-size: 22px;}.cata-img img{height: 220px;
        width: 340px;
        ;margin-top: 10px;
        overflow: hidden
        ;top: -20px;margin-top: 20px;}

        .cata-img{flex-direction: column;align-items: center;}
        .cat-lines div img{position: relative;left: 30%;top: 30px;}
        .cat-line-1{flex-direction:column}
        .cat-line-1 img{height: 180px;width: 300px;}
        .cat-line-2{flex-direction:column;}
        .cat-line-2 img{height: 180px;width: 300px;}
        .cat-line-3{flex-direction:column;}
        .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:450px){header .al-header a{
    margin: 0 10px;font-size: 22px;}.cata-img img{height: 200px;
        width: 320px;
        ;margin-top: 10px;
        overflow: hidden
        ;top: -20px;margin-top: 20px;}

        .cata-img{flex-direction: column;align-items: center;}
        .cat-lines div img{position: relative;left: 25%;top: 30px;}
        .cat-line-1{flex-direction:column}
        .cat-line-1 img{height: 180px;width: 300px;}
        .cat-line-2{flex-direction:column;}
        .cat-line-2 img{height: 180px;width: 300px;}
        .cat-line-3{flex-direction:column;}
        .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:425px){header .al-header a{
    margin: 0 10px;font-size: 20px;}
        .cat-lines div img{position: relative;left: 23%;top: 30px;}
        .cat-line-1{flex-direction:column}
        .cat-line-1 img{height: 180px;width: 300px;}
        .cat-line-2{flex-direction:column;}
        .cat-line-2 img{height: 180px;width: 300px;}
        .cat-line-3{flex-direction:column;}
        .cat-line-3 img{height: 180px;width: 300px}}







@media (max-width:400px)

{header .al-header a{
    margin: 0 12px;font-size: 19px;}

    .cata-img img{height: 170px;
        width: 290px;
        ;margin-top: 10px;
        overflow: hidden
        ;top: -20px;margin-top: 20px;}

        .cata-img{flex-direction: column;align-items: center;}.wörter2 h1{font-size: 27px;}
        .wörter2 .wort6{top:-95px;}.wörter2 .wort6{top: -105px;}
        .cat-lines div img{position: relative;left: 20%;top: 30px;}
        .cat-line-1{flex-direction:column}
        .cat-line-1 img{height: 180px;width: 300px;}
        .cat-line-2{flex-direction:column;}
        .cat-line-2 img{height: 180px;width: 300px;}
        .cat-line-3{flex-direction:column;}
        .cat-line-3 img{height: 180px;width: 300px}
        }



        @media(max-width:351px){.wörter2 h1{font-size: 25px;}header .al-header a{
            margin: 0 8px;font-size: 18px;}}