body{background-color:wheat;height: 1100px;}
header{display: flex;flex-direction: row;justify-content: space-between}
header div a{font-size: 20px;
    text-decoration: none
    ;color: black
    ;position: relative;padding: 20px;
    font-size: 25px;color: black;letter-spacing: 2px;
}
header{background-color: red;position: relative;}









@media (max-width: 1025px)
{body {background-color: grey;}
.al-header a{font-size: 10px;
    padding: 0 2px;
    position: relative;
    letter-spacing: 1px;}
header a {top: 15px;}
.DXN{position: relative;right: 15px;top: -2.5px;}

header{position: relative;width: 100%;height: 50px;background-color: wheat;}}




