

body{width: 100%;overflow: hidden;}


header .al-header{position: relative;
    display: flex
    ;justify-content: center;margin: 0 ;}

    header .al-header a{position: relative;display: block;
        margin: 0 50px;
        text-decoration: none;
        color: black;
    }
    .al-header{position: relative;}
    header{position: relative;;
        background: #b1b1b1;top: 20px;
    }
    body{background-color:#c4c4c4}
.hi{display: flex;justify-content: center;position: relative;top: 30px;background-color: #d1d1d1;}
.foto img{height: 200px
    ;position: relative
    ;top: 100px;
    left: 80px;
border-radius: 50px;}

.katalog{
    display: flex
    ;justify-content: space-evenly;;;
}
.katalog img{height: 150px
    ;position: relative
    ;top:40px;
    left:-8px
    ;border-radius: 20px;

}
.katalog img:active{height: 160px;}

@media 
(max-width:1025px)
 {header .al-header a{
    margin: 0 10px
    ;position: relative
    ;font-weight: 550;font-size: 25px;
}
header {width: 115%;left: -30px;}}

